.animationGrownIn {
  animation: grownIn 0.5s ease-out;
}

@keyframes grownIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.animateGrowHeight {
  animation: growHeight 1s ease-out;
  animation-delay: 1s;
}

@keyframes growHeight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.animationGrownLeft {
  animation: grownLeft 1s ease-out;
  animation-delay: 1s;
}

@keyframes grownLeft {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animationGrownRight {
  animation: grownRight 1s ease-out;
  animation-delay: 1s;
}

@keyframes grownRight {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.terminal-border {
  border-style: dashed;
  border-width: 2px;
  position: relative;
}

.terminal-border::before,
.terminal-border::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border-top: 2px dashed currentColor;
  opacity: 0.3;
}

.terminal-border::before {
  top: -2px;
}

.terminal-border::after {
  bottom: -2px;
}
