.animationGrownIn {
  animation: grownIn 0.5s ease-out;
}

@keyframes grownIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.animateGrowHeight {
  animation: growHeight 1s ease-out;
  animation-delay: 1s;
}

@keyframes growHeight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.animationGrownLeft {
  animation: grownLeft 1s ease-out;
  animation-delay: 1s;
}

@keyframes grownLeft {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animationGrownRight {
  animation: grownRight 1s ease-out;
  animation-delay: 1s;
}

@keyframes grownRight {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
